
.mainMenu {
    // background-color: #216094;
    width: 100vw;
    height: 100vh;

}
.mainMenu .menuContainer card {
    padding: 20px;
    border-radius: 20px;
    border-color: #ffffff;
    border-width: 20px;
}