// import fonts and stuff
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

//clear junk out, fix stuff

body{overflow:hidden;}

// typography

h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-size: 8em;
    color: #ffffff;
}

//variables
:root {
    --shadow-color: 286deg 36% 56%;
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
  }

// animations

@keyframes float{
    0% {top: 0;}
    50% {top: -20px;}
    100% {top: 0;}
}

@keyframes flip {
    0% {opacity: 0; padding: 20px 0; margin: 0 80px; pointer-events: none;}
    100% {opacity: 1; padding:20px 60px; margin: 0 20px;}
}

@keyframes titleflip {
    0% {opacity: 0; padding: 60px 0;}
    100% {opacity: 1; padding:60px 20px;}
}

// modular classes

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

//  |  \/  |     (_)       |  \/  |                 
//  | \  / | __ _ _ _ __   | \  / | ___ _ __  _   _ 
//  | |\/| |/ _` | | '_ \  | |\/| |/ _ \ '_ \| | | |
//  | |  | | (_| | | | | | | |  | |  __/ | | | |_| |
//  |_|  |_|\__,_|_|_| |_| |_|  |_|\___|_| |_|\__,_|

.mainMenu {
    width: 100%;
    height: 100%;

    h1 {
        text-align: center;
    }
    a{
        color: #ffffff;
        text-decoration: none;
    }
    .menuContainer {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display:flex;

        .card {
            opacity: 0;
            position: relative;
            width: 150px;
            height: 300px;
            padding: 20px 60px;
            margin: 0px 20px;
            min-width: 150px;
            border-radius: 20px;
            border-color: #ffffff;
            border-width: 5px;
            border-style: solid;
            text-align: center;
            text-wrap: wrap;
            color:#ffffff;
            transition: .4s;
            &:hover{
                background-color:#ffffff;
                color: #216094;
                cursor: pointer;
                padding: 30px 70px;
                transition: .4s;

                .title{
                    // border-color:#216094;
                    color: #216094;
                    transition: .4s;
                }
            }
            .title{
                font-family: "Bona Nova SC", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 28px;
                border-color: #ffffff;
                border-width: 5px;
                border-style: solid;
                border-radius: 10px;
                padding: 60px 20px;
                //this is so jank please fix it later;
                margin: 0 -26%;
                width: 120%;
            }
            .description {
                font-family: "Bona Nova SC", serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                position: absolute;
                top: 70%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        #card1{animation: float 2s infinite ease-in-out 1s, flip 1s 1 ease .5s;}
        #card2{animation: float 2s infinite ease-in-out 1.5s, flip 1s 1 ease 1s;}
        #card3{animation: float 2s infinite ease-in-out 2s, flip 1s 1 ease 1.5s;}
        #title1{animation: titleflip 1s 1 ease .5s;}
        #title2{animation: titleflip 1s 1 ease 1s;}
        #title3{animation: titleflip 1s 1 ease 1.5s;}
    }
}




//  _____         _   _ _____  ____   ______   __
// / ____|  /\   | \ | |  __ \|  _ \ / __ \ \ / /
//| (___   /  \  |  \| | |  | | |_) | |  | \ V / 
// \___ \ / /\ \ | . ` | |  | |  _ <| |  | |> <  
// ____) / ____ \| |\  | |__| | |_) | |__| / . \ 
//|_____/_/    \_\_| \_|_____/|____/ \____/_/ \_\

.playingCard {
    height: 200px;
    width: auto;
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-medium);
    transform:rotateX(-45deg);
    transition: height .2s, box-shadow .2s, transform .2s;


    &:hover {
        height: 250px;
        box-shadow: var(--shadow-elevation-high);
        transform:rotateX(0deg);
        transition: height .2s, box-shadow .2s, transform .2s;
    }

    .inHand {
        height:500px;
    }
}

.playerHand {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform:translateX(-50%);
    :nth-child(2n) {
        bottom: 20px;
      }
    .playingCard {
        transform:none;
        margin-left:-50px;
        &:hover{
            z-index: 1;
        }
    }
}


//  _____  _           __     _________ ______  _____ _______ 
// |  __ \| |        /\\ \   / /__   __|  ____|/ ____|__   __|
// | |__) | |       /  \\ \_/ /   | |  | |__  | (___    | |   
// |  ___/| |      / /\ \\   /    | |  |  __|  \___ \   | |   
// | |    | |____ / ____ \| |     | |  | |____ ____) |  | |   
// |_|    |______/_/    \_\_|     |_|  |______|_____/   |_|  