// import fonts and stuff
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

//clear junk out, fix stuff

body{
overflow:hidden;
height: 100vh;
width: 100vw;
margin: 0;
}


// typography

h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-size: 8em;
    color: #ffffff;
}
p {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
}

//variables
:root {
    --shadow-color: 285deg 54% 30%;
    --shadow-elevation-low:
      0px 0.6px 0.7px hsl(var(--shadow-color) / 0.34),
      0px 1.1px 1.2px -1.2px hsl(var(--shadow-color) / 0.34),
      0px 2.6px 2.9px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0px 0.6px 0.7px hsl(var(--shadow-color) / 0.36),
      0px 2.1px 2.4px -0.8px hsl(var(--shadow-color) / 0.36),
      0px 5.3px 6px -1.7px hsl(var(--shadow-color) / 0.36),
      0.1px 12.9px 14.5px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0px 0.6px 0.7px hsl(var(--shadow-color) / 0.34),
      0px 3.8px 4.3px -0.4px hsl(var(--shadow-color) / 0.34),
      0px 7px 7.9px -0.7px hsl(var(--shadow-color) / 0.34),
      0.1px 11.6px 13.1px -1.1px hsl(var(--shadow-color) / 0.34),
      0.1px 18.5px 20.8px -1.4px hsl(var(--shadow-color) / 0.34),
      0.2px 28.9px 32.5px -1.8px hsl(var(--shadow-color) / 0.34),
      0.2px 43.9px 49.4px -2.1px hsl(var(--shadow-color) / 0.34),
      0.4px 64.7px 72.8px -2.5px hsl(var(--shadow-color) / 0.34);
}

// animations

@keyframes float{
    0% {top: 0;}
    50% {top: -20px;}
    100% {top: 0;}
}

@keyframes flip {
    0% {opacity: 0; padding: 20px 0; margin: 0 80px; pointer-events: none;}
    100% {opacity: 1; padding:20px 60px; margin: 0 20px;}
}

@keyframes titleflip {
    0% {opacity: 0; padding: 50px 0;}
    100% {opacity: 1; padding: 50px 20px;}
}

@keyframes cardflip {
    0% {transform: rotateY(0);}
    50% {transform: rotateY(90deg);}
    100% {transform: rotateY(0);}
}

// modular classes

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

 .tapped {
    transform: rotate(90deg);
    opacity: .5;
    transition: opacity .2s;
 }

 .flipping {
    animation: cardflip .5s 1;
 }

 .drawCard {
    top: 707px;
    left: 1174px;
    transition: .4s;
 }

 .ui-draggable-dragging {
    z-index: 1000;
 }

 //UI
.sidemenu {
    position: absolute;
    height: 100vh;
    width: 400px;
    left: -410px;
    background-color: #222;
    // opacity: .95;
    z-index: 10001;
    transition: 1s;
    // box-shadow: var(--shadow-elevation-medium);
    filter: drop-shadow(2px 2px 2px #222);
    
    &::after {
        content: "";
        position: relative;
        top: 25%;
        left: 80%;
        margin-left: -5px;
        border-width: 60px;
        border-style: solid;
        border-color: #222;
        border-radius: 100%;
    }
    &:hover{
        left: 0;
        filter: drop-shadow(2px 2px 8px #222);
        transition: 1s;
    }

    p {
        text-align: center;
    }
}
.topMenu {
    padding-top: 10px;
    .tooltip {
        // display: none;
        opacity: 0;
        width: max-content;
        position: relative;
        top: 0;
        left: 0;
        background: #222;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        font-size: 24px;
        margin-top: 5px;
        transition: .2s;
        &::after{
                content: "";
                position: absolute;
                top: -50%;
                left: 45%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #222 transparent;    
        }
    }
    .left {
        position: absolute;
        display: flex;
        font-size: 60px;
        color: #ffffff;
        z-index: 10000;
        
        .menuItemContainer{
            display: block;
            text-align: center;
            margin: 0 30px;
        }
        .menuItem {
            color: #ffffff;
            opacity: .5;
            filter: drop-shadow(1px 4px 5px #a912eb);
            transition: .3s;
            

            &:hover {
                opacity: 1;
                font-size: 70px;
                filter: drop-shadow(10px 10px 10px #a912eb);
                transition: .3s;        
            }
        }
    }

    .right {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        z-index: 10000;
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-size: 2em;
        color: #ffffff;
    }
}

//  |  \/  |     (_)       |  \/  |                 
//  | \  / | __ _ _ _ __   | \  / | ___ _ __  _   _ 
//  | |\/| |/ _` | | '_ \  | |\/| |/ _ \ '_ \| | | |
//  | |  | | (_| | | | | | | |  | |  __/ | | | |_| |
//  |_|  |_|\__,_|_|_| |_| |_|  |_|\___|_| |_|\__,_|

.mainMenu {
    width: 100%;
    height: 100%;

    h1 {
        text-align: center;
        margin-top: 100px;
    }
    a{
        color: #ffffff;
        text-decoration: none;
    }
    .menuContainer {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display:flex;

        .card {
            opacity: 0;
            position: relative;
            width: 150px;
            height: 300px;
            padding: 20px 60px;
            margin: 0px 20px;
            min-width: 150px;
            border-radius: 10px;
            border-color: #ffffff;
            border-width: 5px;
            border-style: solid;
            text-align: center;
            text-wrap: wrap;
            color:#ffffff;
            transition: .4s;
            &:hover{
                background-color:#ffffff;
                color: #a912eb;
                cursor: pointer;
                padding: 30px 70px;
                transition: .4s;

                .title{
                    // border-color:#216094;
                    color: #a912eb;
                    transition: .4s;
                }
            }
            .manaCost{
                font-size: 46px;
                position: absolute;
                top: -15px;
                right: 10px;
            }
            .title{
                position: absolute;
                top: 3px;
                left: 15px;
                font-weight: 600;
                font-size: 18px;
            }
            .cardArt{
                font-family: "Bona Nova SC", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 80px;
                border-color: #ffffff;
                border-width: 2px;
                border-style: solid;
                border-radius: 10px;
                padding: 50px 20px;
                //this is so jank please fix it later;
                margin: 4% -32%;
                width: 134%;
            }
            .description {
                font-family: "Bona Nova SC", serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                position: absolute;
                top: 80%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        #card1{animation: float 2s infinite ease-in-out 1s, flip 1s 1 ease .5s;}
        #card2{animation: float 2s infinite ease-in-out 1.5s, flip 1s 1 ease 1s;}
        #card3{animation: float 2s infinite ease-in-out 2s, flip 1s 1 ease 1.5s;}
        #cardArt1{animation: titleflip 1s 1 ease .5s;}
        #cardArt2{animation: titleflip 1s 1 ease 1s;}
        #cardArt3{animation: titleflip 1s 1 ease 1.5s;}
    }
}




//  _____         _   _ _____  ____   ______   __
// / ____|  /\   | \ | |  __ \|  _ \ / __ \ \ / /
//| (___   /  \  |  \| | |  | | |_) | |  | \ V / 
// \___ \ / /\ \ | . ` | |  | |  _ <| |  | |> <  
// ____) / ____ \| |\  | |__| | |_) | |__| / . \ 
//|_____/_/    \_\_| \_|_____/|____/ \____/_/ \_\



.playingCard {
    position: absolute;
    z-index: 1;
    height: 200px;
    width: auto;
    border-radius: 8px;
    box-shadow: var(--shadow-elevation-medium);
    cursor: grab;
    // transform:rotateX(-45deg);
    transition: height .2s, box-shadow .2s, transform .2s, border-radius .2s;
    //make unselectable
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        height: 350px;
        z-index: 2;
        opacity: 1;
        border-radius: 12px;
        box-shadow: var(--shadow-elevation-high);
        transform:rotateX(0deg);
        transition: height .2s, box-shadow .2s, transform .2s, opacity .2s border-radius .2s;
    }

    &.in-hand {
        position: relative;
        transform:none;
        &:hover{
            z-index: 1;
        }
    }
}

.deck {
    position: absolute;
    width: 200px;
    bottom: 20px;
    right: 100px;
    cursor: pointer;
    img {
        position: absolute;
        height: 200px;
        width: auto;
        border-radius: 8px;
        box-shadow: var(--shadow-elevation-medium);
        &:nth-child(1) {
            bottom: 20px;
            right: 35px;
        }
        &:nth-child(2) {
            bottom: 25px;
            right: 30px;
        }
        &:nth-child(3) {
            bottom: 30px;
            right: 25px;
        }
        &:nth-child(4) {
            bottom: 35px;
            right: 20px;
        }
        &:nth-child(5) {
            bottom: 40px;
            right: 15px;
        }
    }
    .cardCounter{
        position: relative;
        bottom: 115px;
        left: 85px;
        width: 50px;
        text-align: center;
        // transform: translate(-50%, -50%);
        z-index: 10000;
        filter: drop-shadow(2px 2px 2px #000);
        opacity: 0;
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-size: 2em;
        color: #ffffff;
        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            right: -10px;
            margin-left: -5px;
            border-width: 40px;
            border-style: solid;
            border-color: #000;
            border-radius: 3000px;
            z-index: -1;
            filter: blur(20px);
        }
    }
    
}

.playerHand {
    
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform:translateX(-50%);
    :nth-child(2n) {
        bottom: 20px;
        z-index: 3;
      }
    .playingCard{
        transform:none;
        margin-left:-50px;
        &:hover{
            z-index: 4;
        }
    }
}


//  _____  _           __     _________ ______  _____ _______ 
// |  __ \| |        /\\ \   / /__   __|  ____|/ ____|__   __|
// | |__) | |       /  \\ \_/ /   | |  | |__  | (___    | |   
// |  ___/| |      / /\ \\   /    | |  |  __|  \___ \   | |   
// | |    | |____ / ____ \| |     | |  | |____ ____) |  | |   
// |_|    |______/_/    \_\_|     |_|  |______|_____/   |_|  